.portfolio-container {
    position: relative;
    /* Add any other styles for your container */
}

.animated-image {
    width: 50vw;
    height: auto;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease-out forwards;

    @keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
    }
}
